<div class="account">
    <div class="heading">
        <h2>Your Account</h2>
        <p>Please enter your account information below</p>
    </div>
    <div>
        <div class="fields">
            <div class="input-field">
                <input id="inputUsername" type="text" placeholder="Username">
            </div>
            <div class="input-field">
                <input id="inputPassword" type="password" placeholder="Password">
            </div>
        </div>
        <div class="action">
            <div class="btn login">Login</div>
        </div>
    </div>
</div>

