<div class="task">
    <h2>New Task</h2>
    <div class="choices">
        <div class="type choice">
            <div class="item-radio">
                <div class="radio">
                    <input value="0" type="radio" name="inputType">
                </div>
                Task
            </div>
            <div class="item-radio">
                <div class="radio">
                    <input value="1" type="radio" name="inputType">
                </div>
                Bug
            </div>
        </div>
        <div class="loe choice">
            <div class="item-radio">
                <div class="green radio">
                    <input value="0" type="radio" name="inputLOE">
                </div>
                Easy
            </div>
            <div class="item-radio">
                <div class="yellow radio">
                    <input value="1" type="radio" name="inputLOE">
                </div>
                Medium
            </div>
            <div class="item-radio">
                <div class="red radio">
                    <input value="2" type="radio" name="inputLOE">
                </div>
                Hard
            </div>
        </div>

        <div class="status choice">
            <div class="item-radio">
                <div class=" radio">
                    <input value="0" type="radio" name="inputStatus">
                </div>
                Backlog
            </div>
            <div class="item-radio">
                <div class=" radio">
                    <input value="1" type="radio" name="inputStatus">
                </div>
                Todo
            </div>
        </div>
    </div>
    <div class="input-field">
        <input id="inputLabel" autocomplete="off" type="text" name="label" placeholder="Task">
    </div>
    <div class="input-field">
        <textarea id="inputDescription" name="description" cols="80", rows="10" placeholder="Optional Description"></textarea>
    </div>
    <div class="user-search-input-select">
        <span class="selected-user">dinopetrone@gmail.com</span>
        <div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Select User">
            </div>
            <div class="list-group">

            </div>
        </div>
    </div>
    <div class="action">
        <div class="btn yes create">+</div>
        <div class="btn no cancel">-</div>
    </div>
</div>
