<div class="task">
    <h2>New Task</h2>
    <form>
        <div>
            <label>
                Task
                <input type="radio" name="type" checked>
            </label>
            <label>
                Bug
                <input type="radio" name="type">
            </label>
        </div>
        <div>
            <label>
                Task:
                <input type="text" name="label">
            </label>
        </div>
        <div>
            <label>
                Description:
                <textarea name="description" cols="80", rows="10"></textarea>
            </label>
        </div>
        <div class="actions">
            <div class="btn create">create</div>
            <div class="btn cancel">cancel</div>
        </div>
    </form>
</div>
