<div class="task">
    <h2>New Task</h2>
    <form>
        <div>
            <label>
                Task
                <input value="0" type="radio" name="inputType" checked>
            </label>
            <label>
                Bug
                <input value="1" type="radio" name="inputType">
            </label>
        </div>
        <div>
            <label>
                Low
                <input value="0" type="radio" name="inputLOE" >
            </label>
            <label>
                Medium
                <input value="1" type="radio" name="inputLOE" checked>
            </label>

            <label>
                High
                <input value="2" type="radio" name="inputLOE">
            </label>
        </div>
        <div>
            <label>
                Task:
                <input id="inputLabel" type="text" name="label">
            </label>
        </div>
        <div>
            <label>
                Description:
                <textarea id="inputDescription" name="description" cols="80", rows="10"></textarea>
            </label>
        </div>
        <div class="actions">
            <div class="btn create">create</div>
            <div class="btn cancel">cancel</div>
        </div>
    </form>
</div>
