.task {
    .id {
        display: inline-block;
        padding: 5px;
        height: 20px;
        color: white;
        background-color: #5bc0de;
        border-color: #46b8da;
        line-height: 10px;
        margin-right:10px;
    }
    >.label { @extend .clearfix; }
    >.lbl { float:left; }
    .btn-group {
        float:right;
        position: relative;
        margin-right:15px;
    }
    .delete:hover {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
}
