.user-search-input-select {
    width:500px;
    margin: 15px;

    >div { display: inline-block; }
    .assigned {
        font-weight: bold;
        vertical-align: top;
        line-height: 35px;
    }
    .selected-user {
        border-bottom: 1px dotted #ddd;
        line-height: 35px;
    }
    .clear-selected-user {

    }
    input {
        border: 1px solid #ddd;
        display: inline-block;
        min-width: 200px;
    }

    .list-group {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px -3px;
        .list-group-item {
            display: block;
            border-bottom: 1px dotted #ddd;
            padding: 7px;
            color: #525252;
            cursor: pointer;
            background-color: white;
            &.active {
                background-color: #4a87ee;
                color:#fff;
            }
        }
    }
}
