.user-search-input-select{
    width:300px;
    margin: 15px;
    .assigned{
        font-weight: bold;
    }
    .selected-user{
        border-bottom: 1px dotted #ddd;
    }
    input{
        border: 1px solid #ddd;
        width: 300px;
        margin-top: 10px;
    }

    .list-group{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px -3px;
        .list-group-item{
            display: block;
            border-bottom: 1px dotted #ddd;
            padding: 7px;
            color: #525252;
            cursor: pointer;
            width: 300px;
            background-color: white;
            &.active{
                background-color: #4a87ee;
                color:#fff;
            }
        }
    }
}
