.user-search-input-select{
    margin: 15px;
    .assigned{
        font-weight: bold;
    }
    .selected-user{
        border-bottom: 1px dotted #ddd;
    }
    input{
        border: 1px solid #ddd;
        width: 300px;
        margin-top: 10px;
    }

    .list-group{
        .list-group-item{
            display: block;
            border-bottom: 1px dotted #ddd;
            padding: 7px;
            color: #525252;
            cursor: pointer;
            width: 300px;
            background-color: white;
            &.active{
                background-color: #4a87ee;
                color:#fff;
            }
        }
    }
}
