$dark-gray: rgb(25, 30, 36);
$light-gray: rgb(35, 42, 49);
$middle-gray: rgb(37, 37, 37);

$middle-white: rgb(225, 227, 230);
$selected-white: rgb(202, 202, 202);

$selected-project: #3E4752;
$white: #fff;


// colors from iconic
// http://ionicframework.com/docs/components/

$task-light-gray-background: rgba(243, 243, 243, 1);
$task-light-gray-border: #b2b2b2;

$task-yellow-background: rgba(249, 227, 178, 1);
$task-yellow-border: #d39511;

$task-red-background: rgba(248, 183, 175, 1);
$task-red-border: #cc2511;

$task-blue-background: rgba(74, 135, 238, 0.4);
$task-blue-border: #145dd7;

$modal-border: #d5d5d5;


$white-fill: #fff;
$blue-fill: #4a87ee;
$blue-border: #145dd7;

$red-fill: #ef4e3a;
$red-border: #cc2511;

$green-fill: #66cc33;
$green-border: #478f24;

$yellow-fill: #f0b840;
$yellow-border: #d39511;
