@import "dashboard-projects";
@import "dashboard-users";

#section.dashboard{
    .container{
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;

        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
