#project-detail .details .project-name {

    -webkit-flex-grow: 0;
    flex-grow: 0;

    label{
        font-weight: normal;
        font-size: 16px;
        color: $dark-gray;
    }
}

#project-detail .details .swimlanes{


    -webkit-flex-grow: 1;
    flex-grow: 1;
    position: absolute;
    top: 65px;
    left: 10px; // match padding-left on #project-detail
    right: 0;
    bottom: 0;
    z-index: 0; // for scroll bar

    &.backlog{
        top: 115px;
    }

    &.archived{
        top: 65px;
    }

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;

    .lane{
        -webkit-flex-grow: 1;
        flex-grow: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;


        padding-right: 30px;
        width: 300px;
        position: relative;

        .heading{
            padding: 10px 0;
            margin-bottom: 5px;
            text-align: center;
            background-color: $white;
            color: $selected-project;
            border: 1px solid $task-light-gray-border;
            position: relative;
            z-index: 1;

            box-shadow:
            rgba(255, 255, 255, 0.1) 0 1px 1px 1px inset,
            rgba(255, 255, 255, 0.2) 0 1px inset,
            rgba(40, 98, 122, 0.1) 0 0px 0px inset,
            rgba(0, 0, 0, 0.1) 0 0 1px 1px;

            label{
                font-size: 14px;
            }

            .action{
                float: right;
                width: 30px;
                cursor: pointer;
            }
        }

        >ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            padding-bottom: 20px;
            overflow-y: auto;
            // make the lanes full height for dragging/dropping
            position: absolute;
            top: 44px;
            bottom: 0;
            left: 0;
            right: 30px; // match padding-right on the lane
            z-index: 0;

            @include transition (background-color 0.25s linear, border 0.25s linear);
            background-color: rgba(0, 0, 0, 0);
            border: 1px dotted #e1e3e6;

            &.reveal{
                background-color: rgba(0, 0, 0, 0.03);
                border: 1px dotted #c2c2c2;
                box-sizing: border-box;
            }
        }
    }
}
