#project-detail .details{
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;

    .project-name{
        margin-bottom: 15px;

        .pane-action{
            float: left;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

