@import "project-detail";
@import "project-task";
@import "project-task-bug";
@import "project-backlog";
@import "project-in-process";
@import "project-archived";
@import "project-swimlanes";

#project-detail{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background-color: $middle-white;
    height: 100%;
}
