@import "sidebar-projects";
@import "sidebar-footer";


#sidebar {
    @extend %flex-row;
    @extend %flex-grow-0;
    color: #fff;
    margin-left: 0px;
    @include transform(translateZ(0));
    @include backface-visibility(visible);
    @include transition-property (margin-left);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);
    &.hide { margin-left: -200px; }
    .view {
        @extend %flex-column;
        @extend %flex-grow-0;
        width: 200px;
        background-color: $dark-gray;
        h2 {
            font-weight: normal;
            padding-left: 10px;
            font-size: 16px;
        }
        .menu { @extend %flex-grow-1; }
        .footer { @extend %flex-grow-0; }
    }
}