#sidebar .view .menu .projects {
    .project-cell {
        margin-bottom: 1px;
        background-color: $light-gray;
        padding: 15px 0 15px 10px;
        &.selected { background-color: $selected-project; }
        .input-projectName { display: none; }
        input[type="text"] {
            line-height: 13px;
            color: #cacaca;
            font-size: 13px;
            display: none;
            width: 90%;
        }
    }
}