#sidebar .view .footer {
    height: 40px;
    background-color: $light-gray;
    ul { height: 100%; }
    .action{
        float: left;
        cursor: pointer;
        width: 40px;
        height: 100%;
        text-align: center;
        line-height: 40px;
        border-right: 1px dotted #191e24;
        font-weight: bold;
        font-size: 16px;
        &:hover { background: tint($light-gray, 10%); }
    }
}