<div class="loe">
    <div class="{{ loe }}"></div>
</div>
{{#if assigned_email }}
<div class="icon">
    <img src="http://www.gravatar.com/avatar/{{ mdfive assigned_email }}.png">
</div>
{{/if }}
<div class="label">
    <span class="id">#{{id}}</span>
    <span class="lbl">{{ label }}</span>
    <div class="btn-group">
        <a type="button" class="actions glyphicon glyphicon-edit pull-right"></a>
        <div class="actions-menu"></div>
    </div>
</div>
<div class="description">{{ description }}</div>
