<!-- <div class="project-name">
    <div class="pane-action"><</div>
    <label>{{ label }}</label>
</div>
<div class="tabbar">
    <ul>
        <li>Backlog</li>
        <li>In Process</li>
        <li>Accepted</li>
    </ul>
</div> -->
<div class="swimlanes">
    <div class="lane todo">
        <div class="heading">
            <label>Todo</label>
            <div class="action">+</div>
        </div>
        <ul></ul>
    </div>
    <div class="lane in-progress">
        <div class="heading">
            <label>In Progress</label>
        </div>
        <ul></ul>
    </div>
    <div class="lane completed">
        <div class="heading">
            <label>Completed</label>
        </div>
        <ul></ul>
    </div>
</div>
