#modal-new-project{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 280px;
    position: relative;
    @include row;

    .panel > div{
        margin:20px;
    }

    .panel{
        @include span-columns(6);
        @include omega;
        position: relative;

        background-color: #fff;
        height: 100%;


        &:first-child{
            border-right: 1px dotted #ddd;
        }

        h2{
            font-weight: 100;
            margin-bottom: 3px;
        }

        h2+div{
            font-size: 11px;
            font-style: italic;
            margin-bottom: 25px;
        }

        .results{
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: absolute;
            width: 315px;
            box-shadow: rgba(0,0,0,0.1) 0px 4px 9px -3px;

            .project{
                border-bottom: 1px dotted #ddd;
                padding: 7px;
                color: #525252;
                cursor: pointer;
            }
        }
    }

    input{
        width: 83%;
    }

    .action{
        @include row;

        position: absolute;
        top: 95px;
        right: 20px;
        white-space: nowrap;
        background: #fff;

        .btn{
            border-radius: 20px;
            width: 30px;
            height: 25px;
            text-align: center;
            line-height: 22px;
            display: inline-block;
            color: #fff;
            cursor: pointer;

            &.yes{
                background-color: #66cc33;
                border-color: #478f24;
            }

            &.no{
                background-color: #ef4e3a;
                border-color: #cc2511;
            }
        }
    }
}
