<ul role="menu" class="dropdown-menu"><!-- <ul class="dropdown-menu" role="menu"> -->
    <li><a class="item edit" href="#" data-tag="edit">Edit</a></li>
    <li class="divider"></li>
    <li class="choices">
        <ul>
            <!-- <li><a class='item backlog' href="#">Move To Backlog</a></li>
            <li><a class='item in-progress' href="#">Move To In Progress</a></li> -->
        <li><a class="item backlog" href="#" data-tag="backlog">Move To Backlog</a>
</li><li><a class="item backlog" href="#" data-tag="in-progress">Move To In Progress</a>
</li></ul>
    </li>
    <li class="divider"></li>
    <li><a class="item delete" href="#" data-tag="delete">Delete</a></li>
<!-- </ul> -->
</ul>
