* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .task > .label:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  outline-offset: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-font-smoothing: inherit; }

.input-field {
  padding: 6px 8px 5px;
  border-bottom: 1px solid #ddd;
  font-size: 16px; }

input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  background-color: transparent;
  width: 100%; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  height: 34px;
  color: #111111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  border: 0; }

.radio {
  position: relative;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  height: 100%; }

.radio input {
  position: relative;
  float: left;
  margin: 0;
  line-height: normal;
  width: 30px;
  height: 25px;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none; }
  .radio input:before {
    /* what the checkbox looks like when its not checked */
    display: table;
    width: 100%;
    height: 100%;
    border: 1px solid #145dd7;
    border-radius: 20px;
    background: transparent;
    content: ' '; }

.item-radio {
  padding-left: 40px;
  position: relative;
  font-size: 14px;
  line-height: 34px; }
  .item-radio .radio {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }

/* the checkmark within the box */
.radio input:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 26%;
  left: 33%;
  display: table;
  width: 10px;
  height: 4px;
  border: 3px solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0; }

/* what the background looks like when its checked */
.radio input:checked:before {
  background: #4a87ee; }

/* what the checkmark looks like when its checked */
.radio input:checked:after {
  opacity: 1; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .glyphicon:empty {
    width: 1em; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

.glyphicon-euro:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.btn-group {
  position: relative; }

.btn-default {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd; }
  .btn-default .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px; }

#window {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: stretch;
  height: 100%; }

#modal {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none; }
  #modal .view {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid #d5d5d5;
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px 1px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
    #modal .view:before, #modal .view:after {
      content: " ";
      display: table; }
    #modal .view:after {
      clear: both; }
    #modal .view.show {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    #modal .view .task {
      height: 300px; }

#sidebar .view .menu .projects {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  #sidebar .view .menu .projects .project-cell {
    margin-bottom: 1px;
    background-color: #232a31;
    padding: 15px 0 15px 10px; }
    #sidebar .view .menu .projects .project-cell.selected {
      background-color: #3e4752; }
    #sidebar .view .menu .projects .project-cell .input-projectName {
      display: none; }
    #sidebar .view .menu .projects .project-cell input:focus {
      outline: none; }
    #sidebar .view .menu .projects .project-cell input[type="text"] {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: none;
      line-height: 13px;
      color: #cacaca;
      font-size: 13px;
      display: none;
      width: 90%; }

#sidebar .view .footer {
  height: 40px;
  background-color: #232a31; }
  #sidebar .view .footer ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0; }
  #sidebar .view .footer .action {
    float: left;
    cursor: pointer;
    width: 40px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    border-right: 1px dotted #191e24;
    font-weight: bold;
    font-size: 16px; }

#sidebar {
  color: #fff;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin-left: 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  #sidebar.hide {
    margin-left: -200px; }
  #sidebar .view {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 200px;
    background-color: #191e24;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; }
    #sidebar .view h2 {
      font-weight: normal;
      padding-left: 10px;
      font-size: 16px; }
    #sidebar .view .menu {
      -webkit-flex-grow: 1;
      flex-grow: 1; }
    #sidebar .view .footer {
      -webkit-flex-grow: 0;
      flex-grow: 0; }

#project-detail {
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  position: relative; }
  .loading #project-detail:before {
    font-size: 20px;
    content: 'loading...';
    position: fixed;
    left: 50%;
    top: 40%; }
  .loading #project-detail .project-detail-wrapper {
    display: none; }
  #project-detail .project-name {
    margin-bottom: 15px;
    border-bottom: 1px dotted #c0c0c0;
    padding-top: 10px;
    padding-bottom: 18px;
    position: relative; }
    #project-detail .project-name .pane-action {
      margin-right: 10px;
      cursor: pointer;
      position: absolute;
      top: 14px;
      width: 21px;
      height: 16px;
      border-radius: 7px;
      border: 1px solid #145dd7; }
      #project-detail .project-name .pane-action .arrow {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 4px;
        left: 37%;
        display: table;
        border: 2px solid #145dd7;
        border-top: 0;
        border-right: 0;
        content: ' ';
        padding: 2px; }
    #project-detail .project-name label {
      font-size: 18px;
      padding-left: 25px; }
  #project-detail .tabbar {
    *zoom: 1;
    display: block;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 7px;
    width: 324px;
    position: absolute;
    top: 10px;
    right: 30px; }
    #project-detail .tabbar:before, #project-detail .tabbar:after {
      content: " ";
      display: table; }
    #project-detail .tabbar:after {
      clear: both; }
    #project-detail .tabbar .buttons {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 350px; }
      #project-detail .tabbar .buttons .btn {
        float: left;
        padding: 0 30px 15px 30px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        color: #3e4752;
        display: inline-block; }
        #project-detail .tabbar .buttons .btn.selected {
          background-color: rgba(255, 255, 255, 0.8); }

#sidebar.hide + #project-detail .project-name .pane-action {
  background: #4a87ee; }
  #sidebar.hide + #project-detail .project-name .pane-action .arrow {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-color: white;
    left: 30%; }

#project-detail .task-placeholder {
  height: 25px;
  background-color: #f3f3f3;
  color: #fff;
  border: 2px dashed #b2b2b2;
  margin-bottom: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 1px; }

#project-detail .task {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 13px;
  padding: 10px 0 10px 10px;
  margin-bottom: 3px;
  position: relative;
  background: -webkit-linear-gradient(top, white 42%, #fcfcfc 100%);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(40, 98, 122, 0.1) 0 0px 0px inset, rgba(0, 0, 0, 0.1) 0 0 1px 1px; }
  #project-detail .task .icon {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px dotted #ababab;
    float: left;
    margin-right: 5px;
    overflow: hidden; }
    #project-detail .task .icon img {
      width: inherit;
      height: inherit; }
  #project-detail .task .label {
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd dotted;
    margin-bottom: 5px;
    line-height: 20px; }
  #project-detail .task .description {
    font-size: 11px; }
  #project-detail .task .loe {
    position: absolute;
    width: 5px;
    left: 1px;
    top: 1px;
    bottom: 1px; }
    #project-detail .task .loe.easy {
      border: 1px solid #145dd7;
      background-color: #4a87ee; }
    #project-detail .task .loe.medium {
      border: 1px solid #d39511;
      background-color: #f0b840; }
    #project-detail .task .loe.hard {
      border: 1px solid #cc2511;
      background-color: #ef4e3a; }
  #project-detail .task .action {
    font-size: 11px;
    margin-left: 10px;
    visibility: hidden;
    border-left: 1px dotted #b8b8b8;
    padding-left: 10px; }
    #project-detail .task .action .btn {
      border-radius: 3px;
      background-color: #3e4752;
      color: white;
      padding: 2px 5px;
      cursor: pointer; }
      #project-detail .task .action .btn.backlog {
        background-color: #3e4752; }
      #project-detail .task .action .btn.todo {
        background-color: #3e4752; }
      #project-detail .task .action .btn.in-progress {
        background-color: #3e4752; }
      #project-detail .task .action .btn.completed {
        background-color: #428037; }
      #project-detail .task .action .btn.archive {
        background-color: #b83b3b; }

#project-detail .task.bug {
  background: -webkit-linear-gradient(top, white 0%, snow 100%);
  border: 1px solid #e79191; }

#backlog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 10px; }

#archived-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 10px; }

#project-detail .details .project-name {
  -webkit-flex-grow: 0;
  flex-grow: 0; }
  #project-detail .details .project-name label {
    font-weight: normal;
    font-size: 16px;
    color: #191e24; }

#project-detail .details .swimlanes {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  position: absolute;
  top: 65px;
  left: 10px;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row; }
  #project-detail .details .swimlanes.backlog {
    top: 115px; }
  #project-detail .details .swimlanes.archived {
    top: 65px; }
  #project-detail .details .swimlanes .lane {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-right: 30px;
    width: 300px;
    position: relative; }
    #project-detail .details .swimlanes .lane .heading {
      padding: 10px 0;
      margin-bottom: 5px;
      text-align: center;
      background-color: white;
      color: #3e4752;
      border: 1px solid #b2b2b2;
      position: relative;
      z-index: 1;
      box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(40, 98, 122, 0.1) 0 0px 0px inset, rgba(0, 0, 0, 0.1) 0 0 1px 1px; }
      #project-detail .details .swimlanes .lane .heading label {
        font-size: 14px; }
      #project-detail .details .swimlanes .lane .heading .action {
        float: right;
        width: 30px;
        cursor: pointer; }
    #project-detail .details .swimlanes .lane > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      padding-bottom: 20px;
      overflow-y: auto;
      position: absolute;
      top: 44px;
      bottom: 0;
      left: 0;
      right: 30px;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0);
      border: 1px dotted #e1e3e6; }
      #project-detail .details .swimlanes .lane > ul.reveal {
        background-color: rgba(0, 0, 0, 0.03);
        border: 1px dotted #c2c2c2;
        box-sizing: border-box; }

#project-detail {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #e1e3e6;
  height: 100%; }

#section.dashboard .projects {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #section.dashboard .projects .project {
    width: 300px;
    background-color: #35414D;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 1px;
    margin: 4px; }
    #section.dashboard .projects .project > label {
      color: #fff;
      font-weight: 100;
      font-size: 16px;
      margin-bottom: 8px;
      display: block; }
#section.dashboard .projects .project .tasks {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #section.dashboard .projects .project .tasks .task {
    color: #000; }
    #section.dashboard .projects .project .tasks .task .username {
      font-size: 11px;
      border-bottom: 1px dotted #ddd;
      padding-bottom: 3px;
      margin-left: 26px;
      font-style: italic; }
    #section.dashboard .projects .project .tasks .task label {
      margin-left: 26px;
      display: block; }

#section.dashboard .users .user {
  width: 300px;
  background-color: #35414D;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 1px;
  margin: 4px; }
  #section.dashboard .users .user > label {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 8px;
    display: block; }
  #section.dashboard .users .user .icon {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px dotted #ababab;
    float: left;
    margin-right: 5px;
    overflow: hidden; }
    #section.dashboard .users .user .icon img {
      width: inherit;
      height: inherit; }
#section.dashboard .users .user .tasks {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #section.dashboard .users .user .tasks .task {
    color: #000; }
    #section.dashboard .users .user .tasks .task .username {
      font-size: 11px;
      border-bottom: 1px dotted #ddd;
      padding-bottom: 3px;
      font-style: italic; }
    #section.dashboard .users .user .tasks .task label {
      display: block; }

#project-detail .tabbar.dashboard {
  width: 207px; }

#section.dashboard .container {
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0; }

#modal-new-project {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 280px;
  position: relative;
  *zoom: 1;
  display: block; }
  #modal-new-project:before, #modal-new-project:after {
    content: " ";
    display: table; }
  #modal-new-project:after {
    clear: both; }
  #modal-new-project .panel > div {
    margin: 20px; }
  #modal-new-project .panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    position: relative;
    background-color: #fff;
    height: 100%; }
    #modal-new-project .panel:last-child {
      margin-right: 0; }
    #modal-new-project .panel:first-child {
      border-right: 1px dotted #ddd; }
    #modal-new-project .panel h2 {
      font-weight: 100;
      margin-bottom: 3px; }
    #modal-new-project .panel h2 + div {
      font-size: 11px;
      font-style: italic;
      margin-bottom: 25px; }
    #modal-new-project .panel .results {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 315px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px -3px;
      background-color: #fff;
      max-height: 120px;
      overflow-y: scroll;
      overflow-x: hidden; }
      #modal-new-project .panel .results .project {
        border-bottom: 1px dotted #ddd;
        padding: 7px;
        color: #525252;
        cursor: pointer; }
        #modal-new-project .panel .results .project.active {
          background-color: #4a87ee;
          color: #fff; }
  #modal-new-project input {
    width: 83%; }
  #modal-new-project .action {
    *zoom: 1;
    display: block;
    position: absolute;
    top: 95px;
    right: 20px;
    white-space: nowrap;
    background: #fff; }
    #modal-new-project .action:before, #modal-new-project .action:after {
      content: " ";
      display: table; }
    #modal-new-project .action:after {
      clear: both; }
    #modal-new-project .action .btn {
      border-radius: 20px;
      width: 30px;
      height: 25px;
      text-align: center;
      line-height: 22px;
      display: inline-block;
      color: #fff;
      cursor: pointer;
      border: 1px solid; }
      #modal-new-project .action .btn.yes {
        background-color: #66cc33;
        border-color: #478f24; }
      #modal-new-project .action .btn.no {
        background-color: #ef4e3a;
        border-color: #cc2511; }

#modal .view .task textarea {
  height: 65px;
  width: 100%;
  color: #808080;
  resize: none; }
#modal .view .task h2 {
  font-weight: 200;
  margin-left: 7px; }
#modal .view .task .choices {
  *zoom: 1;
  display: block;
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px; }
  #modal .view .task .choices:before, #modal .view .task .choices:after {
    content: " ";
    display: table; }
  #modal .view .task .choices:after {
    clear: both; }
  #modal .view .task .choices .choice label {
    *zoom: 1;
    display: block; }
    #modal .view .task .choices .choice label:before, #modal .view .task .choices .choice label:after {
      content: " ";
      display: table; }
    #modal .view .task .choices .choice label:after {
      clear: both; }
  #modal .view .task .choices .item-radio {
    float: left;
    margin-right: 15px; }
  #modal .view .task .choices .type {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    border-right: 1px dotted #ddd; }
    #modal .view .task .choices .type:last-child {
      margin-right: 0; }
  #modal .view .task .choices .status {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    #modal .view .task .choices .status:last-child {
      margin-right: 0; }
  #modal .view .task .choices .loe {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    border-right: 1px dotted #ddd; }
    #modal .view .task .choices .loe:last-child {
      margin-right: 0; }
    #modal .view .task .choices .loe .green.radio input:before {
      border-color: #478f24; }
    #modal .view .task .choices .loe .green.radio input:checked:before {
      background: #66cc33; }
    #modal .view .task .choices .loe .yellow.radio input:before {
      border-color: #d39511; }
    #modal .view .task .choices .loe .yellow.radio input:checked:before {
      background: #f0b840; }
    #modal .view .task .choices .loe .red.radio input:before {
      border-color: #cc2511; }
    #modal .view .task .choices .loe .red.radio input:checked:before {
      background: #ef4e3a; }
#modal .view .task .action {
  *zoom: 1;
  display: block;
  position: absolute;
  top: 255px;
  right: 20px;
  white-space: nowrap;
  background: white; }
  #modal .view .task .action:before, #modal .view .task .action:after {
    content: " ";
    display: table; }
  #modal .view .task .action:after {
    clear: both; }
  #modal .view .task .action .btn {
    border-radius: 20px;
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    display: inline-block;
    color: white;
    cursor: pointer;
    border: 1px solid; }
    #modal .view .task .action .btn.yes {
      background-color: #66cc33;
      border-color: #478f24; }
    #modal .view .task .action .btn.no {
      background-color: #ef4e3a;
      border-color: #cc2511; }

#modal .view .account .heading {
  padding: 10px; }
  #modal .view .account .heading h2 {
    font-weight: 200;
    margin: 0 0 5px 0;
    padding: 0; }
  #modal .view .account .heading h2 + p {
    font-style: italic;
    margin: 0;
    padding: 0;
    font-size: 11px; }
#modal .view .account .action .btn {
  color: white;
  background: #4a87ee;
  border: 1px solid #145dd7;
  padding: 13px;
  font-size: 14px;
  text-align: center;
  cursor: pointer; }

#modal .view .session {
  padding: 10px; }
  #modal .view .session h2 {
    font-weight: 200; }

.dropdown-menu {
  position: absolute;
  z-index: 1;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    text-decoration: none; }
    .dropdown-menu li > a:hover {
      color: #262626;
      background-color: #f5f5f5; }
  .dropdown-menu li.divider {
    margin: 5px;
    height: 1px;
    background-color: #f5f5f5; }

.task .id {
  display: inline-block;
  padding: 5px;
  height: 20px;
  color: white;
  background-color: #5bc0de;
  border-color: #46b8da;
  line-height: 10px;
  margin-right: 10px; }
.task > .lbl {
  float: left; }
.task .btn-group {
  float: right;
  position: relative;
  margin-right: 15px; }
.task .delete:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }

.user-search-input-select .list-group .list-group-item {
  display: block; }
