* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  outline-offset: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-font-smoothing: inherit; }

.input-field {
  padding: 6px 8px 5px;
  border-bottom: 1px solid #ddd;
  font-size: 16px; }

input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  background-color: transparent;
  width: 100%; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  height: 34px;
  color: #111111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  border: 0; }

.radio {
  position: relative;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  height: 100%; }

.radio input {
  position: relative;
  float: left;
  margin: 0;
  line-height: normal;
  width: 30px;
  height: 25px;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none; }
  .radio input:before {
    /* what the checkbox looks like when its not checked */
    display: table;
    width: 100%;
    height: 100%;
    border: 1px solid #145dd7;
    border-radius: 20px;
    background: transparent;
    content: ' '; }

.item-radio {
  padding-left: 40px;
  position: relative;
  font-size: 14px;
  line-height: 34px; }
  .item-radio .radio {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }

/* the checkmark within the box */
.radio input:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 26%;
  left: 33%;
  display: table;
  width: 10px;
  height: 4px;
  border: 3px solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0; }

/* what the background looks like when its checked */
.radio input:checked:before {
  background: #4a87ee; }

/* what the checkmark looks like when its checked */
.radio input:checked:after {
  opacity: 1; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px; }

#window {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: stretch;
  height: 100%; }

#modal {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none; }
  #modal .view {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid #d5d5d5;
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px 1px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
    #modal .view:before, #modal .view:after {
      content: " ";
      display: table; }
    #modal .view:after {
      clear: both; }
    #modal .view.show {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    #modal .view .task {
      height: 300px; }

#sidebar .view .menu .projects {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  #sidebar .view .menu .projects .project-cell {
    margin-bottom: 1px;
    background-color: #232a31;
    padding: 15px 0 15px 10px; }
    #sidebar .view .menu .projects .project-cell.selected {
      background-color: #3e4752; }
    #sidebar .view .menu .projects .project-cell .input-projectName {
      display: none; }
    #sidebar .view .menu .projects .project-cell input:focus {
      outline: none; }
    #sidebar .view .menu .projects .project-cell input[type="text"] {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: none;
      line-height: 13px;
      color: #cacaca;
      font-size: 13px;
      display: none;
      width: 90%; }

#sidebar .view .footer {
  height: 40px;
  background-color: #232a31; }
  #sidebar .view .footer ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0; }
  #sidebar .view .footer .action {
    float: right;
    cursor: pointer;
    width: 40px;
    height: 100%;
    margin-right: 1px;
    font-size: 15px;
    margin-top: 7px; }

#sidebar {
  color: #fff;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin-left: 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  #sidebar.hide {
    margin-left: -200px; }
  #sidebar .view {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 200px;
    background-color: #191e24;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; }
    #sidebar .view h2 {
      font-weight: normal;
      padding-left: 10px;
      font-size: 16px; }
    #sidebar .view .menu {
      -webkit-flex-grow: 1;
      flex-grow: 1; }
    #sidebar .view .footer {
      -webkit-flex-grow: 0;
      flex-grow: 0; }

#project-detail {
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column; }
  #project-detail .project-name {
    margin-bottom: 35px; }
    #project-detail .project-name .pane-action {
      float: left;
      margin-right: 10px;
      cursor: pointer; }
  #project-detail .tabbar {
    *zoom: 1;
    display: block;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 7px;
    width: 349px;
    position: absolute;
    top: 10px;
    right: 30px; }
    #project-detail .tabbar:before, #project-detail .tabbar:after {
      content: " ";
      display: table; }
    #project-detail .tabbar:after {
      clear: both; }
    #project-detail .tabbar .buttons {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 350px; }
      #project-detail .tabbar .buttons .btn {
        float: left;
        padding: 0 30px 15px 30px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        color: #3e4752;
        display: inline-block; }
        #project-detail .tabbar .buttons .btn.active {
          background-color: rgba(255, 255, 255, 0.8); }

#project-detail .task-placeholder {
  height: 25px;
  background-color: #f3f3f3;
  color: #fff;
  border: 2px dashed #b2b2b2;
  margin-bottom: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 1px; }

#project-detail .task {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 13px;
  padding: 10px 0 10px 10px;
  margin-bottom: 3px;
  position: relative;
  background: -webkit-linear-gradient(top, white 42%, #fcfcfc 100%);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(40, 98, 122, 0.1) 0 0px 0px inset, rgba(0, 0, 0, 0.1) 0 0 1px 1px; }
  #project-detail .task .icon {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px dotted #ababab;
    float: left;
    margin-right: 5px; }
    #project-detail .task .icon img {
      width: inherit;
      height: inherit; }
  #project-detail .task .label {
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd dotted;
    margin-bottom: 5px;
    line-height: 20px; }
  #project-detail .task .description {
    font-size: 11px; }
  #project-detail .task .loe {
    position: absolute;
    width: 5px;
    left: 1px;
    top: 0;
    height: 100%; }
    #project-detail .task .loe .low {
      border: 1px solid #b2b2b2;
      background-color: #f3f3f3; }
    #project-detail .task .loe .medium {
      border: 1px solid #d39511;
      background-color: #f9e3b2; }
    #project-detail .task .loe .high {
      border: 1px solid #cc2511;
      background-color: #f8b7af; }
  #project-detail .task:hover .action {
    visibility: visible; }
  #project-detail .task .action {
    font-size: 11px;
    margin-left: 10px;
    visibility: hidden;
    border-left: 1px dotted #b8b8b8;
    padding-left: 10px; }
    #project-detail .task .action .btn {
      border-radius: 3px;
      background-color: #3e4752;
      color: white;
      padding: 2px 5px;
      cursor: pointer; }
      #project-detail .task .action .btn.backlog {
        background-color: #3e4752; }
      #project-detail .task .action .btn.todo {
        background-color: #3e4752; }
      #project-detail .task .action .btn.in-progress {
        background-color: #3e4752; }
      #project-detail .task .action .btn.completed {
        background-color: #428037; }
      #project-detail .task .action .btn.archive {
        background-color: #b83b3b; }

#project-detail .task.bug {
  background: -webkit-linear-gradient(top, white 0%, snow 100%);
  border: 1px solid #e79191; }

#backlog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px; }

#archived-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px; }

#project-detail .details .project-name {
  -webkit-flex-grow: 0;
  flex-grow: 0; }
  #project-detail .details .project-name label {
    font-weight: normal;
    font-size: 16px;
    color: #191e24; }

#project-detail .details .swimlanes {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row; }
  #project-detail .details .swimlanes .lane {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-right: 30px;
    width: 300px; }
    #project-detail .details .swimlanes .lane .heading {
      padding: 10px 0;
      margin-bottom: 5px;
      text-align: center;
      background-color: white;
      color: #3e4752;
      border: 1px solid #b2b2b2;
      box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(40, 98, 122, 0.1) 0 0px 0px inset, rgba(0, 0, 0, 0.1) 0 0 1px 1px; }
      #project-detail .details .swimlanes .lane .heading label {
        font-size: 14px; }
      #project-detail .details .swimlanes .lane .heading .action {
        float: right;
        width: 30px;
        cursor: pointer; }
    #project-detail .details .swimlanes .lane ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      min-height: 50px; }

#project-detail {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #e1e3e6;
  height: 100%; }

#modal-new-project {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 280px;
  position: relative;
  *zoom: 1;
  display: block; }
  #modal-new-project:before, #modal-new-project:after {
    content: " ";
    display: table; }
  #modal-new-project:after {
    clear: both; }
  #modal-new-project .panel > div {
    margin: 20px; }
  #modal-new-project .panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    position: relative;
    background-color: #fff;
    height: 100%; }
    #modal-new-project .panel:last-child {
      margin-right: 0; }
    #modal-new-project .panel:first-child {
      border-right: 1px dotted #ddd; }
    #modal-new-project .panel h2 {
      font-weight: 100;
      margin-bottom: 3px; }
    #modal-new-project .panel h2 + div {
      font-size: 11px;
      font-style: italic;
      margin-bottom: 25px; }
    #modal-new-project .panel .results {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 315px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px -3px; }
      #modal-new-project .panel .results .project {
        border-bottom: 1px dotted #ddd;
        padding: 7px;
        color: #525252;
        cursor: pointer; }
        #modal-new-project .panel .results .project.active {
          background-color: #4a87ee;
          color: #fff; }
  #modal-new-project input {
    width: 83%; }
  #modal-new-project .action {
    *zoom: 1;
    display: block;
    position: absolute;
    top: 95px;
    right: 20px;
    white-space: nowrap;
    background: #fff; }
    #modal-new-project .action:before, #modal-new-project .action:after {
      content: " ";
      display: table; }
    #modal-new-project .action:after {
      clear: both; }
    #modal-new-project .action .btn {
      border-radius: 20px;
      width: 30px;
      height: 25px;
      text-align: center;
      line-height: 22px;
      display: inline-block;
      color: #fff;
      cursor: pointer; }
      #modal-new-project .action .btn.yes {
        background-color: #66cc33;
        border-color: #478f24; }
      #modal-new-project .action .btn.no {
        background-color: #ef4e3a;
        border-color: #cc2511; }

#modal .view .task textarea {
  height: 65px;
  width: 100%;
  color: #808080;
  resize: none; }
#modal .view .task h2 {
  font-weight: 200;
  margin-left: 7px; }
#modal .view .task .choices {
  *zoom: 1;
  display: block;
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px; }
  #modal .view .task .choices:before, #modal .view .task .choices:after {
    content: " ";
    display: table; }
  #modal .view .task .choices:after {
    clear: both; }
  #modal .view .task .choices .choice label {
    *zoom: 1;
    display: block; }
    #modal .view .task .choices .choice label:before, #modal .view .task .choices .choice label:after {
      content: " ";
      display: table; }
    #modal .view .task .choices .choice label:after {
      clear: both; }
  #modal .view .task .choices .item-radio {
    float: left;
    margin-right: 15px; }
  #modal .view .task .choices .type {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    border-right: 1px dotted #ddd; }
    #modal .view .task .choices .type:last-child {
      margin-right: 0; }
  #modal .view .task .choices .loe {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #modal .view .task .choices .loe:last-child {
      margin-right: 0; }
    #modal .view .task .choices .loe .green.radio input:before {
      border-color: #478f24; }
    #modal .view .task .choices .loe .green.radio input:checked:before {
      background: #66cc33; }
    #modal .view .task .choices .loe .yellow.radio input:before {
      border-color: #d39511; }
    #modal .view .task .choices .loe .yellow.radio input:checked:before {
      background: #f0b840; }
    #modal .view .task .choices .loe .red.radio input:before {
      border-color: #cc2511; }
    #modal .view .task .choices .loe .red.radio input:checked:before {
      background: #ef4e3a; }
#modal .view .task .action {
  *zoom: 1;
  display: block;
  position: absolute;
  top: 255px;
  right: 20px;
  white-space: nowrap;
  background: white; }
  #modal .view .task .action:before, #modal .view .task .action:after {
    content: " ";
    display: table; }
  #modal .view .task .action:after {
    clear: both; }
  #modal .view .task .action .btn {
    border-radius: 20px;
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    display: inline-block;
    color: white;
    cursor: pointer;
    border: 1px solid; }
    #modal .view .task .action .btn.yes {
      background-color: #66cc33;
      border-color: #478f24; }
    #modal .view .task .action .btn.no {
      background-color: #ef4e3a;
      border-color: #cc2511; }

#modal .view .account .heading {
  padding: 10px; }
  #modal .view .account .heading h2 {
    font-weight: 200;
    margin: 0 0 5px 0;
    padding: 0; }
  #modal .view .account .heading h2 + p {
    font-style: italic;
    margin: 0;
    padding: 0;
    font-size: 11px; }
#modal .view .account .action .btn {
  color: white;
  background: #4a87ee;
  border: 1px solid #145dd7;
  padding: 13px;
  font-size: 14px;
  text-align: center;
  cursor: pointer; }

#modal .view .session {
  padding: 10px; }
  #modal .view .session h2 {
    font-weight: 200; }
